.is-clipped {
  overflow: hidden!important
}
 
#aside-toc {
  z-index: 100;
  display: none;
  float: left;
  top: 0;
  max-height: 100vh;
  .header {
    .button.close {
      float: right;
    }
  }
  ul {
    li {
      a.active {
        font-weight: bold;
        color: black;
      }  
    }
  }
}
 
#aside-toc:hover {
  overflow-y: auto;
}
 
#collapsed-toc {
  top: 0;
  position: sticky;
  z-index: 10;
  display: none;
}
 
html {
  @media (min-width: 1280px) {
    #aside-toc {
      display: block;
      position: sticky;
      margin-left: -240px;
      width: 230px;
      .button.close {
        display: none;
      }
    }
  }
  @media (min-width: 1360px) {
    #aside-toc {
      margin-left: -280px;
      width: 270px;
    }
  }
  @media (min-width: 1680px) {
    #aside-toc {
      margin-left: -440px;
      width: 430px;
    }
  }
  @media (max-width: 1279px) {
    #aside-toc {
      display: none;
      position: fixed;
      width: 800px;
      top: 0;
      height: 100vh;
    }
    #aside-toc.active {
      display: block;
    }
    #collapsed-toc {
      display: block;
    }
  }
  @media (max-width: 800px) {
    #aside-toc {
      width: 100vw;
    }
  }
}