{% assign lang = include.lang %}
<div class="archive-container">
  <h3>{% if lang == 'cn' %}标签{% else %}Tags{% endif %}</h3>
  <div class="tag-cloud">
    {% for tag in site.tags %}
    <a href="#{{ tag | first }}" class="blog-tag">{{ tag | first }}</a>
    {% endfor %}
  </div>

  {% include year_section.html %}
    <div class="year-section">
      <h3 id="{{this_year}}">{{this_year}}</h3>
      <ul>
    {% endif %}
        <li>
          <span>{{ post.date | date: "%Y-%m-%d" }}</span>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
    {% include year_transition.html %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>