<div id="share-bar">
	<right>
	   
		<!-- facebook -->
		<a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
	        title="Share on Facebook" >
	        <i class="fa fa-facebook-official share-button"> </i>
	    </a>

	    <!-- twitter -->
	    <a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
	        title="Share on Twitter" >
	        <i class="fa fa-twitter share-button"> </i>
	    </a>

	   <!-- google+ -->
	    <a  href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
	        title="Share on Google+" >
	        <i class="fa fa-google-plus share-button"> </i>
	    </a>
	
	</right>
</div>
