<!DOCTYPE html>
<html>
{% include cnhead.html %}
<body>
  <div class="body-wrapper">
  <div class="nav-header"><a href="/wenji/cn">三歲文集 </a> | <a href="/wenji/cnabout">关于 </a> | <a href="/wenji/"> English</a> | <a href="/wenji/books"> 书单</a> | <a href="https://buyivi.xyz/">三歲</a>
  </div>
  <div class="main-body">
  <!-- 心知天气固定插件 -->
  <div align="right" id="tp-weather-widget"></div>
  <script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
  <script>tpwidget("init", {
    "flavor": "slim",
    "location": "WS0E9D8WN298",
    "geolocation": "enabled",
    "language": "auto",
    "unit": "c",
    "theme": "chameleon",
    "container": "tp-weather-widget",
    "bubble": "enabled",
    "alarmType": "badge",
    "uid": "U81EB522D4",
    "hash": "6b972a5f25f3cc4e8beb25e2feab9d4b"
  });
  tpwidget("show");
  </script>
  {{ content }}
  </div>

  <div class="info-bottom"><div class="info-bottom-text">
  授权协议 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh">(CC) BY-NC-SA</a> | 订阅 <a href="/wenji/feed.xml">RSS</a> | 邮箱 <a href="mailto:xmann_zh@foxmail.com">xmann_zh@foxmail.com</a> | <a href="#top">回到顶部 🫠 </a> | <a href="https://notbyai.fyi/"> <img height="15px" src="https://sansuiz.github.io/images/Not-By-AI.svg"/></a>
  </div></div> 
  </div>

  <script src="//unpkg.com/heti/umd/heti-addon.min.js"></script>
  <script>
    const heti = new Heti('.heti');
    heti.autoSpacing();
  </script>

  <!-- 鼠标指针样式 -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/mouse.css">
	<script src="{{ site.baseurl }}/js/mouse.js"></script>
</body>

<script>
    (function(d) {
      var config = {
        kitId: 'hvv6ahj',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
</script>

</html>