---
layout: cndefault
---
<!-- 封面图容器 -->
{% if page.cover_image %}
<div class="cover-image" style="background-image: url('{{ page.cover_image }}');">
  <div class="gradient-overlay"></div>
</div>
{% endif %}

<header>
<h2>{{ page.title }}</h2>
<p><i>{{ page.date | date: "%Y-%m-%d" }}</i>{% if page.author %} • <i>{{ page.author }}</i>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>

<!-- 在正文开头添加网易云音乐插件 -->
<!-- cloud music -->
{% if page.music-id %}
    {% include cloud-music.html %}
{% endif %}

<br>

<!-- cloud music full -->
{% if page.music-idfull %}
    {% include cloud-music-full.html %}
{% endif %}

<article>
{{content}}
</article>

<div align="right">
    <br>
    <a href="#top" target="_self">
        <img src="https://static.flomoapp.com/file/2025-03-12/3540/08595fc04a6dc5fba640cd35aed8b838.gif?OSSAccessKeyId=LTAI5tAXfrgN5cBQ7Bym1EcM&Expires=1742054172&Signature=FyN1KXgxHXCCfYicsPBZuBs2%2F0Q%3D"/>
    </a>
</div>

<div id="info-bottom">
<hr>
<p>{% for tag in page.tags %}<block class="blog-tag"><a href="/cnarchive/#{{tag}}">{{ tag }}</a></block>{% endfor %}</p>
</div>

<!-- 评论 -->
{% if page.comments %}
    {% include giscus_comments.html %}
{% endif %}