---
layout: cndefault
---
<header>
<h2>{{ page.title }}</h2>
<p><i>{{ page.date | date: "%Y-%m-%d" }}</i>{% if page.author %} • <i>{{ page.author }}</i>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

<div class="post-meta">
    <span><i>本文总计 {{ page.content | strip_html | strip_newlines | remove: " " | size }} 字</i>，<i>阅读全文大约需要 {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} 分钟</i></span>
</div>
</header>

<!-- 在正文开头添加网易云音乐插件 -->
<!-- cloud music -->
{% if page.music-id %}
    {% include cloud-music.html %}
{% endif %}

<br>

<!-- cloud music full -->
{% if page.music-idfull %}
    {% include cloud-music-full.html %}
{% endif %}

<article>
{{content}}
</article>



<div id="info-bottom">
<hr>
<p>标签: {% for tag in page.tags %}<block class="blog-tag"><a href="/wenji/cnarchive/#{{tag}}">{{ tag }}</a></block>{% endfor %}</p>
<p><b>留言</b>请移步 <a href="https://f.wps.cn/g/hQQzfcZC/"> SANSUIZ | 留言单 </a> </p>
</div>

<!-- Valine 评论框 start -->
{% if page.valine %}
    {% include valine_comments.html %}
{% endif %}
<!-- Valine 评论框 end -->

{% if page.comments %}
    {% include giscus_comments.html %}
{% endif %}