---
layout: default
---
<header>
<h2>{{ page.title }}</h2>
<p><i>{{ page.date | date: "%b %-d, %Y" }}</i>{% if page.author %} • <i>{{ page.author }}</i>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>

<div class="cover-image" style="background-image: url('{{ page.cover_img }}');"></div>

<article>
{{content}}
</article>

<div id="info-bottom">
<hr>
<p>{% for tag in page.tags %}<block class="blog-tag"><a href="/wenji/archive/#{{tag}}">{{ tag }}</a></block>{% endfor %}</p>
</div>

{% if page.comments %}
    {% include giscus_comments.html %}
{% endif %}