---
layout: default
---
<header>
<h2>{{ page.title }}</h2>
<p><i>{{ page.date | date: "%b %-d, %Y" }}</i>{% if page.author %} • <i>{{ page.author }}</i>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>

<article>
{{content}}
</article>

<div align="right">
    <br>
    <a href="#top" target="_self">
        <img src="https://static.flomoapp.com/file/2025-03-12/3540/08595fc04a6dc5fba640cd35aed8b838.gif?OSSAccessKeyId=LTAI5tAXfrgN5cBQ7Bym1EcM&Expires=1742054172&Signature=FyN1KXgxHXCCfYicsPBZuBs2%2F0Q%3D" class="logo-image" />
    </a>
</div>

<div id="info-bottom">
<hr>
<p>{% for tag in page.tags %}<block class="blog-tag"><a href="/archive/#{{tag}}">{{ tag }}</a></block>{% endfor %}</p>
</div>

{% if page.comments %}
    {% include giscus_comments.html %}
{% endif %}