---
layout: default
---
<header>
<h2>{{ page.title }}</h2>
<p><i>{{ page.date | date: "%b %-d, %Y" }}</i>{% if page.author %} • <i>{{ page.author }}</i>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>

<article>
{{content}}
</article>

<div align="right">
    <br>
    <a href="#top" target="_self">
        <img src="https://sansuiz.cn/iamges/sansuiz-di.png" class="logo-image" />
    </a>
</div>

<div id="info-bottom">
<hr>
<p>{% for tag in page.tags %}<block class="blog-tag"><a href="/archive/#{{tag}}">{{ tag }}</a></block>{% endfor %}</p>
</div>

{% if page.comments %}
    {% include giscus_comments.html %}
{% endif %}